.body{
    background-color: #f3f6f6;
    background-image: url(./images/shape1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    text-align: center;
    margin: 100px 0 0 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    position: relative;
}

.title:before{
    position: absolute;
    content: '';
    top: 55px;
    left: 36%;
    height: 5px;
    width: 28%;
    border-radius: 40%;
    background-color: rgb(255, 0, 179);
}